doctype 
html 
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Homework
    link(rel="stylesheet", type="text/css", href="reset.css")
    link(rel="stylesheet", type="text/css", href="styles.scss")
  body
    .container
      .style.header header
      .style.menu menu
      .style.hero hero
      .style.main main
      .style.banner banner
      .style.extra extra
      .style.image image